.sidebar {
  /* width:15%; */
  /* height:900px; */
  float:left;
  list-style-type: none;
  line-height: 1.6;
  font-family: Helvetica;
}

body {
    margin: 0;
    font-family: Helvetica;
}

.about{
  margin:auto;
  width: 57%;
  line-height: 1.6;
}

.header {
    text-align: center;
    padding: 32px;
    font-family: Helvetica;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

.main {
  margin:auto;
  width: 57%;
  /* float: left; */
}

#arrow{

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #f1f1f1;
    color: black;
    padding-right: 50%;
}

}


/* .video country-us{

    width: 100%;
    height: auto;

} */
/* iframe{
  width:60%;
  height:auto;


} */
